*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;

    
        background: #e9edf3;

}

#form{
    text-align: center;
}

#cars{
    margin-top: 30px;
    font-size: 20px;
}
#car{
   font-size: 60px;
  color: #fff;
  text-shadow:
    1px 1px 0 #ccc,
    2px 2px 0 #bbb,
    3px 3px 0 #aaa,
    4px 4px 0 #999,
    5px 5px 10px #000;
}

#result{
    text-align: center;
    margin-top: 30px;
     font-size: 56px;
  font-weight: 700;
  color: #3a4f7a;
  text-shadow:
    1px 1px 0 #506b9c,
    2px 2px 0 #6c86b8,
    3px 3px 6px rgba(0,0,0,0.35);

}
#btn{
    margin-top: 30px;
    font-size: 30px;
}