* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url(img/55246.png);
    background-repeat: no-repeat;

}

#form {
    text-align: center;
    padding: 90px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;      
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

#all {
    font-size: 20px;
}

#Amount,
#time,
#rate,
#result {
    font-size: 19px;
    width: 400px;
    padding: 5px;
    text-align: center;

}




#submit {
    background-image: linear-gradient(to right, #4CA1AF 0%, #C4E0E5 51%, #4CA1AF 100%)

}

#submit {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    
    color: black;
}

#submit:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
