* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    background-image: url(img/gradient-1770605914718.svg);
    background-repeat: no-repeat;
    background-size: cover;

}

#form {
    padding: 60px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    ;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.286);
}

#all,
#label,
#result {
    font-size: 20px;
}

#submit {
    background-image: linear-gradient(to right, #16222A 0%, #3A6073 51%, #16222A 100%)
}

#submit {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;

}

#submit:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}