* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-image: url(img/img.avif);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.container {
  background: #fff;
  padding: 25px;
  width: 320px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

input:focus {
  border-color: #0e0000;
}

#btn {
  background-image: linear-gradient(
    to right,
    #16222a 0%,
    #3a6073 51%,
    #16222a 100%
  );
}
#btn {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

#btn:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
}

#status {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

