* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    background-repeat: no-repeat;
}

#form {   
    border-radius: 40px;
    padding: 60px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}

#label {
    font-size: 20px;
    font-weight: 900;
}
#result{
    font-size: 20px;
}

#all {
    font-size: 15px;
}

#submit {
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%)
}

#submit {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    
}

#submit:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}