*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
     background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  height: 100vh;
}

#form{
    text-align: center;
}
#bill{
        font-size: 60px;
  color: #fff;
  text-shadow:
    1px 1px 0 #ccc,
    2px 2px 0 #bbb,
    3px 3px 0 #aaa,
    4px 4px 0 #999,
    5px 5px 10px #000;
}
#bills{
    margin-top: 30px;
    font-size: 20px;
}
#btn{
    margin-top: 30px;
    font-size: 30px;
}
#result{
    text-align: center;
        font-size: 60px;
  color: #fff;
  text-shadow:
    1px 1px 0 #ccc,
    2px 2px 0 #bbb,
    3px 3px 0 #aaa,
    4px 4px 0 #999,
    5px 5px 10px #000;
}
