*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #020024;
background: linear-gradient(39deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
background-repeat: no-repeat;

}

#form{
    text-align: center;
    padding: 90px;
    border-radius: 10px;
    background: #22C1C3;
background: linear-gradient(214deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#submit{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}
#Salary,#hra,#da,#ta{
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
}

button:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    
}
#result{
    font-size: 20px;
    margin: 15px;
    padding: 10px;
    border: 3px dashed black;
    border-radius: 10px;
}