* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-size: cover;
    background-image: url(img/gradient-1770388177240.svg);
    background-repeat: no-repeat;


}

#form {
    text-align: center;
    padding: 90px;
    border-radius: 10px;
    border: 15px double white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#Salary,
#hra,
#da,
#ta {
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
}

#result {
    font-size: 20px;
    margin: 15px;
    padding: 10px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
 color: white;
    border-radius: 10px;
}


         #submit {background-image: linear-gradient(to right, #83a4d4 0%, #b6fbff  51%, #83a4d4  100%)}
         #submit {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: black;           
            /* box-shadow: 0 0 20px #eee; */
            border-radius: 10px;
            font-size: 15px;
          }

          #submit:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         
