*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
  background-color:#0f172a;
  
}
.product-card{
    min-height: 400px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background: #1e293b;
    color: white;
    font-weight: 700;
    font-family:'Times New Roman', Times, serif;
    
}

.product-card img{
    height: 350px;
}
.modal-dialog{
    min-width: fit-content;
}
